<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap" rel="stylesheet">
</head>

<header>
    
</header>


<body>


    <div class = "container-principal">
        <div class="escena-espacial">
         <div class="stars"></div>
         <div class="stars2"></div>
         <div class="stars3"></div>
        </div>
        

        <div class="navbar">
        <div class="logo">
            <a href="">NORO</a>
            <a href="">Product</a>
            <a href="">Learns</a>
            <a href="">Home</a>
        </div>
        
        <div class="select-navbar">
            <select name="optiona" id="">
                <option value="option1">Portafolio</option>
                <option value="option2">Sobre mi</option>
                <option value="option3">Contacto</option>
            </select>
        </div>
    </div>
    <div class="container-card">
        <div class="card-presentacion">
            NORO DEV JUNIOR
            <br>
            FRONT END DEVELOPER
            <br>
            <div class="icons-card">
                <img src="../assets/github-brands-solid.png" alt="">
                <img src="../assets/instagram-brands-solid.png" alt="">
                <img src="../assets/linkedin-brands-solid.png" alt="">
            </div>
        </div>
        <br>
    </div>
    
    <div class="card-me">

    </div>

    </div>
</body>
</html>