<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<header>
    <div class="navbar">
        <div class="logo">
            <a href="">NORO</a>
            <a href="">Product</a>
            <a href="">Learns</a>
            <a href="">Home</a>
        </div>
        
        <div class="select-navbar">
            <select name="optiona" id="">
                <option value="option1">Portafolio</option>
                <option value="option2">Sobre mi</option>
                <option value="option3">Contacto</option>
            </select>
        </div>
    </div>
</header>


<body>
    <div class = "container_principal">
        <div class="card-presentacion">
            CONTENIDO PRINCIPAL 
            HOLA MUNDO
        </div>
    </div>
</body>
</html>