*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    font-family: 'Geologica', sans-serif;
}

/*back animation*/



/*style navbar*/

.navbar{
    display:flex;
    background-color:rgba(180, 13, 13, 0.056);
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    border-left: dotted white 2px;
    height: 100%;
    display: flex;
    align-items: center;;
}

.logo a{
    margin-left: 12px;
    color: white;
}

.select-navbar{
    border-right: dotted white 2px;
    height: 100%;
    display:flex;
}

.select-navbar select{
    margin-right: 12px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}

select option{
    background-color: transparent;
    color:white
}

/*contenedor principal*/

.container-principal{
    background-color: black;
}



/*cards*/

.container-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-presentacion{
    color: white;
    display: inline;
    font-weight:800;
    font-size: 70px;
    margin-bottom: 50px;
    
}

.icons-card{
    display: flex;
    padding: 3px;
    height: 35px;
    justify-content: center;
}

/*CARD SOBRE MI*/
.card-me{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.card-info{
    border: solid white 2px;
    border-radius: 10px;
    width: 40rem;
    height: 30rem;
    margin: 40px;
    background-color: white;
    color: black;
}

model-viewer {
      width: 50%;
      height: 80%;
      background-color: transparent;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
